@font-face {
    font-family: latex;
    src: url(latex.woff);
}

body {
    margin: 0px auto;
    font-family:'Merriweather', serif;
    width: 100%;
}

.header {
    width: 70%;
    max-width: 800vw;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

nav {
    background: #2D3C5D;
    position: fixed;
    width: 100%;
    height: auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: calc(10pt + 1vw);
}

nav ul, footer ul {
    font-family:'Merriweather', serif;
    list-style: none;
    display: inline-block;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

footer {
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-weight: italic;
    color: #999;
}

a:hover {
    text-decoration: none; /*underline;*/
    color: #CCC;
}

h1 {
    font-size: calc(48px - 1vw);
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Merriweather', serif;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: calc(6pt + 0.4vw);
    width: 70%;
    margin: auto;
}

.container {
    background-color: white;
    width: 70%;
    max-width: 1200px;
    margin: auto;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: calc(26px - 0.1vw);
    color: #222;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 3vw;
}

ul.posts li {
    list-style: none;
}

.centre {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
}

.no-table {
    border-collapse: collapse;
    list-style-type: none;
    margin: auto;
    width: 70%;
}

.no-table td {
    padding: 5px;
    border-bottom: 1px solid #AAA;
}

.no-table img {
    width: 90px;
    height: auto;
    max-height:90px;
    overflow: hidden;
}

canvas {
    border: 5px outset #DDD;
}

.post {
    font-family: 'Markazi Text', serif;
    font-size: calc(24pt - 0.2vw);
    text-align: left;
    margin: auto;
    max-width: 600px;
    padding: 10px
}

.post-header {
    margin: auto;
    max-width: 600px;
    padding: 10px
}

div.resume {
    font-family: 'latex', serif;
    font-size: 14pt;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

div.resume h1 h2 h3 h4 h5 h6 {
    font-family: 'latex', serif;
    font-size: 14pt;
}

div.resume table {
    width: 100%;
}

.highlighter-rouge {
    font-family: 'Source Code Pro', normal;
    font-size: 1.4vw;
    background-color: #EEE;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
}

.image-caption {
    text-align: center;
    font-size: .8rem;
    color: #888;
}

.post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    max-height: 300px;
}

input[type=text] {
    width: 80%;
    height: 52px;
    border: none;
    border-radius: 8px;
    background-color:  #DDD;
    background-image: url('/assets/img/key.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 52px;
    font-size: 16pt;
}

input[type=text]:focus {
    background-color: #EEE;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type=text]:hover {
    background-color: #EEE;
}

div.key-container {
    border: solid 1px #888;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 8px;
    background-color: #FFF;
}



div.key-container button {
    background-color: #DDD;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px #666;
    text-align: center;
    cursor: pointer;
    font-size: 16pt;
}


button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px #666;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 2px #666;
}

.categories {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-family: default;
}

.categories ul {
    list-style: none;
}

.categories li {
    display: inline;
    padding: 2px 4px 2px 4px;
    background-color: #EEE;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #999;
}

.categories li:hover {
    color: #AAA;
}

.constrained-image img {
    max-width: 60%;
}
