@font-face {
    font-family: latex;
    src: url(latex.woff);
}

body {
    margin: 60px auto;
    font-family:'Merriweather', serif;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Merriweather', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-weight: italic;
    color: #999;
}

a:hover {
    text-decoration: none; /*underline;*/
    color: #CCC;
}

h1 {
    font-size: 3em;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Merriweather', serif;
}

p {
    line-height: 1.4em;
    color: #222;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.centre {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
}

.no-table {
    border-collapse: collapse;
    list-style-type: none;
    margin: auto;
    width: 70%;
}

.no-table td {
    padding: 5px;
    border-bottom: 1px solid #AAA;
}

.no-table img {
    width: 128px;
    height: auto;
    max-height:128px;
    overflow: hidden;
}

canvas {
    border: 5px outset #DDD;
}

.post {
    font-family: 'Markazi Text', serif;
    font-size: 1.5em;
    text-align: left;
    margin: auto;
    max-width: 600px;
    padding: 10px
}

.post-header {
    margin: auto;
    max-width: 600px;
    padding: 10px
}

div.resume {
    font-family: 'latex', serif;
    font-size: 14pt;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

div.resume h1 h2 h3 h4 h5 h6 {
    font-family: 'latex', serif;
    font-size: 14pt;
}

div.resume table {
    width: 100%;
}

.highlighter-rouge {
    font-family: 'Sorce Code Pro', monospace;
    font-size: 12pt;
    background-color: #EEE;
}

.image-caption {
    text-align: center;
    font-size: .8rem;
    color: #888;
}

.post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-height: 300px;
}

input[type=text] {
    width: 80%;
    height: 52px;
    border: none;
    border-radius: 8px;
    background-color: #EEE;
    background-image: url('/assets/img/key.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 52px;
    font-size: 16pt;
}

input[type=text]:focus {
    border: solid 2px white;
}

button {
    background-color: #AAA;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px #333;
    text-align: center;
    cursor: pointer;
    font-size: 16pt;
}


button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px #333;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 1px #333;
}

.categories {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-family: default;
}

.categories ul {
    list-style: none;
}

.categories li {
    display: inline;
    padding: 2px 4px 2px 4px;
    background-color: #EEE;
    border-radius: 4px;
}

.categories li:hover {
    background-color: #DDD;
    color: #999;
}

